*{
    margin: 0;
    padding: 0;
}

.html__style{
    font-size: 62.5%;
}

.header{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__nav{
    background: rgb(21,31,75);
    background: -moz-linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151f4b",endColorstr="#000000",GradientType=1);
}

.header__img{
    width: 20rem;
    height: 7rem;
    filter: invert(1);
}

.header__list{
    font-size: 1.4rem;
    color: white;
    border-left: 0.1rem solid white;
}

.header__list:hover{
    color: aquamarine;
    text-decoration: underline;
}

/*Carrusel-content*/
.carrusel{
    margin-top: 8rem;
}

.carrusel__bloque{
    position: absolute;
    top: 10rem;
}

.carrusel__container{
    background-image: url("../multimedia/carrusel1.jpg");
    height: calc(100vh - 7rem);
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
}

.carrusel__container--modif{
    background-image: url("../multimedia/carrusel2.jpg");
    height: calc(100vh - 7rem);
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
}

.carrusel__title{
    display: block;
    width:auto;
    font-size: 6rem;
    margin-bottom: 0;
}

.carrusel__p{
    display: block;
    width: auto;
    font-size: 2.5rem;
}

.carrusel__button{
    display: inline-block;
    font-size: 2.5rem;
    margin: 2rem;
    background: rgba(23, 18, 116, 1);
    border-radius: 99px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.section{
    background: #E8EBFD;
}

.section__img{
    height: 23rem;
    width: 100%;
}

.section__button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    background: rgba(23, 18, 116, 1);
}

.section__p{
    font-size: 1.6rem;
    text-align: center;
    height: 10rem;
    overflow:hidden;
}

.section__img--modif{
    width: 5rem;
    filter: grayscale(1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Footer list -- con flex*/
.footer{
    background: rgb(21,31,75);
    background: -moz-linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(21,31,75,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151f4b",endColorstr="#000000",GradientType=1);
}

.footer__ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.footer__li{
    font-size: 1.3rem;
    margin: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    list-style: none;
    color: white;
}

.footer__li:hover{
    color: aquamarine;
    text-decoration: underline;
}

.footer__grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.7rem;
}

.footer__st{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid white;
    border-top: 0.1rem solid white;
}

.footer__p{
    font-size: 1.2rem;
}

.footer__div{
    margin: 0rem 1rem 1rem 1rem;
}

/*Start carousel animation*/
.swing-in-right-bck {
	-webkit-animation: swing-in-right-bck 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-right-bck 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 1;
  }
}
/*End carousel animation*/