* {
  margin: 0;
  padding: 0; }

.html__style {
  font-size: 62.5%; }

/*Index.html*/
.header__img {
  width: 20rem;
  height: 7rem;
  filter: invert(1); }

.header__list {
  font-size: 1.4rem;
  color: white;
  border-left: 0.1rem solid white; }

.carousel-item {
  background-color: black;
  height: calc(100vh - 7rem);
  background-position: center;
  background-size: cover; }

.carrusel_title {
  display: block;
  width: auto;
  font-size: 6rem;
  background: rgba(23, 18, 116, 0.6);
  margin-bottom: 0; }

.carrusel_p {
  display: block;
  width: auto;
  font-size: 2.5rem;
  background: rgba(23, 18, 116, 0.6); }

.carrusel__button {
  display: inline-block;
  font-size: 2.5rem;
  margin: 2rem;
  background: #171274;
  border-radius: 99px;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.section__div {
  border: 0.1rem solid #514d4d;
  margin-bottom: 5rem;
  margin-top: 5rem; }
  .section__div .section__img {
    height: 23rem;
    width: 100%; }
    @media (max-width: 580px) {
      .section__div .section__img {
        padding: 2rem;
        height: 20rem;
        width: 25rem; } }
    @media (min-width: 580px) and (max-width: 768px) {
      .section__div .section__img {
        padding: 0rem;
        height: 13rem;
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .section__div .section__img {
        margin: 0.3rem;
        height: 18rem;
        width: 25rem; } }
  .section__div .section__p {
    font-size: 1.6rem;
    text-align: justify;
    height: 10rem;
    overflow: hidden; }
  .section__div .section__p--modif {
    font-size: 1.6rem;
    text-align: center;
    height: 10rem;
    overflow: scroll; }
  .section__div .section__button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    background: rgba(23, 18, 116, 0.6); }

.div__img {
  width: 5rem;
  filter: grayscale(1);
  margin-top: 2rem;
  margin-bottom: 2rem; }

.footer__ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none; }
  @media (max-width: 580px) {
    .footer__ul {
      flex-direction: column;
      align-items: center; } }
  .footer__ul .footer__li {
    font-size: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    list-style: none;
    color: white; }
    .footer__ul .footer__li .footer__li:hover {
      color: black; }

.footer__grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.7rem; }
  @media (max-width: 580px) {
    .footer__grilla {
      grid-template-columns: 1fr; } }
  .footer__grilla .footer__div {
    margin: 0rem 1rem 1rem 1rem; }
    .footer__grilla .footer__div .footer__st {
      display: block;
      text-align: center;
      font-size: 1.2rem;
      border-bottom: 0.1rem solid white;
      border-top: 0.1rem solid white; }
