@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"); /*Reset margin and padding*/
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/*Convert px to rem*/
.html__style {
  font-size: 62.5%;
}

.header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__nav {
  background: rgb(21, 31, 75);
  background: linear-gradient(0deg, rgb(21, 31, 75) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151f4b",endColorstr="#000000",GradientType=1);
}
.header__img {
  width: 20rem;
  height: 7rem;
  filter: invert(1);
}
.header__list {
  font-size: 1.4rem;
  color: white;
  border-left: 0.1rem solid white;
}
@media (min-width: 576px) and (max-width: 768px) {
  .header__list {
    font-size: 1.2rem;
  }
}
.header__list__list:hover {
  color: aquamarine;
  text-decoration: underline;
}

.section {
  margin: 4rem 2rem 0rem 2rem;
  background-color: #E8EBFD;
}
@media (max-width: 576px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}
.section__title {
  font-size: 4rem;
}
@media (max-width: 576px) {
  .section__title {
    font-size: 2.4rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__title {
    font-size: 2.4rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section__title {
    font-size: 2.5rem;
  }
}
.section__p {
  font-size: 2rem;
}
@media (max-width: 576px) {
  .section__p {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__p {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section__p {
    font-size: 1.4rem;
    text-align: justify;
    margin-right: 1rem;
  }
}
.section__img {
  width: 45rem;
  height: 30rem;
}
@media (max-width: 576px) {
  .section__img {
    width: 90%;
    height: 20rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__img {
    width: 90%;
    height: 25rem;
  }
}
.section__img--modific {
  width: 45rem;
  height: 25rem;
}
@media (max-width: 576px) {
  .section__img--modific {
    width: 90%;
    height: 25rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__img--modific {
    width: 90%;
    height: 30rem;
  }
}
@media (max-width: 576px) {
  .section__a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}
.section__button {
  background: rgb(23, 18, 116);
  height: 3rem;
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  .section__button {
    margin-bottom: 0.8rem;
    text-decoration: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .section__button {
    margin-bottom: 0.8rem;
    text-decoration: none;
  }
}

@media (max-width: 576px) {
  .flex-row-reverse {
    flex-direction: column !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .flex-row-reverse {
    flex-direction: column !important;
  }
}

.footer {
  background: rgb(21, 31, 75);
  background: linear-gradient(0deg, rgb(21, 31, 75) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151f4b",endColorstr="#000000",GradientType=1);
}
.footer__ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 576px) {
  .footer__ul {
    flex-direction: column;
    align-items: center;
  }
}
.footer__li {
  font-size: 1.3rem;
  margin: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  list-style: none;
  color: white;
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer__li {
    font-size: 1rem;
  }
}
.footer__li__li:hover {
  color: aquamarine;
  text-decoration: underline;
}
.footer__grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.7rem;
}
@media (max-width: 576px) {
  .footer__grilla {
    grid-template-columns: 1fr;
  }
}
.footer__st {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid white;
  border-top: 0.1rem solid white;
}
.footer__p {
  font-size: 1.2rem;
}
.footer__div {
  margin: 0rem 1rem 1rem 1rem;
}/*# sourceMappingURL=post-venta.css.map */