.footer{
    @include gradient;
    &__ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    @include mobile{
    flex-direction: column;
    align-items: center;
}
}   &__li{
    font-size: 1.3rem;
    margin: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    list-style: none;
    color: white;   
    @include tablet{
    font-size: 1rem;
}
    &__li:hover{
    color: map-get($colores, "li-hover");
    text-decoration: underline;
}
}   &__grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.7rem;
    @include mobile{
    grid-template-columns: 1fr;
}
}   &__st{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid white;
    border-top: 0.1rem solid white;
}   &__p{
    font-size: 1.2rem;
}   &__div{
    margin: 0rem 1rem 1rem 1rem;
}
}