.header{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2;
    &__nav{
    @include gradient;
}   &__img{
    width: 20rem;
    height: 7rem;
    filter: invert(1);
}   &__list{
    font-size: 1.4rem;
    color: white;
    border-left: 0.1rem solid white;
    @include tablet{
    font-size: 1.2rem;
}
    &__list:hover{
    color: map-get($colores, "li-hover");
    text-decoration: underline;
}
}
}