.section{
    background-color: map-get($colores, "tarjetas");
    &__img{
    height: 23rem;
    width: 100%;
    @include mobile{
    height: 21rem;
    width: 28rem;
}   @include tablet{
    height: 14rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}   @include laptop{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}   
}   &__title{
    @include title;
}   &__button {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    background: map-get($colores, "btn");
}   &__p{
    @include parrafo;
    @include tablet{
    font-size: 1rem;
}   @include laptop{
    font-size: 1.2rem;
}
}   &__img--modif{
    width: 5rem;
    filter: grayscale(1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}   &__p--modif{
    @include parrafo;
    @include tablet{
    font-size: 1rem;
    overflow: unset;
    text-align: justify;
}   @include laptop{
    font-size: 1.2rem;
    overflow: unset;
    text-align: justify;
}
}
}

hr{
  color: inherit;
  border: 0;
  border-top: 0.2rem solid;
  opacity: .25;
  margin-top: 4rem;
}

/*Start carousel animation*/
.swing-in-right-bck {
	-webkit-animation: swing-in-right-bck 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-right-bck 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-bck {
  0% {
    -webkit-transform: rotateY(70deg);
            transform: rotateY(70deg);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    opacity: 1;
  }
}
/*End carousel animation*/